virtualCollaboration/WebContent/wsdl/Document.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://virtualcollaboration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://virtualcollaboration" xmlns:intf="http://virtualcollaboration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://virtualcollaboration" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addDocument">
    <complexType>
     <sequence>
      <element name="DocName" type="xsd:string"/>
      <element name="DocCategory" type="xsd:string"/>
      <element name="groupID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addDocumentResponse">
    <complexType>
     <sequence>
      <element name="addDocumentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delAnnouncementt">
    <complexType>
     <sequence>
      <element name="docID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="delAnnouncementtResponse">
    <complexType>
     <sequence>
      <element name="delAnnouncementtReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="seeDocument">
    <complexType>
     <sequence>
      <element name="GroupID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="seeDocumentResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="seeDocumentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="delAnnouncementtRequest">

      <wsdl:part element="impl:delAnnouncementt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seeDocumentRequest">

      <wsdl:part element="impl:seeDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delAnnouncementtResponse">

      <wsdl:part element="impl:delAnnouncementtResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seeDocumentResponse">

      <wsdl:part element="impl:seeDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addDocumentRequest">

      <wsdl:part element="impl:addDocument" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addDocumentResponse">

      <wsdl:part element="impl:addDocumentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Document">

      <wsdl:operation name="addDocument">

         <wsdl:input message="impl:addDocumentRequest" name="addDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:addDocumentResponse" name="addDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delAnnouncementt">

         <wsdl:input message="impl:delAnnouncementtRequest" name="delAnnouncementtRequest">

       </wsdl:input>

         <wsdl:output message="impl:delAnnouncementtResponse" name="delAnnouncementtResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="seeDocument">

         <wsdl:input message="impl:seeDocumentRequest" name="seeDocumentRequest">

       </wsdl:input>

         <wsdl:output message="impl:seeDocumentResponse" name="seeDocumentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DocumentSoapBinding" type="impl:Document">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delAnnouncementt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delAnnouncementtRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delAnnouncementtResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="seeDocument">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="seeDocumentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="seeDocumentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DocumentService">

      <wsdl:port binding="impl:DocumentSoapBinding" name="Document">

         <wsdlsoap:address location="http://localhost:8080/virtualCollaboration/services/Document"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
