virtualCollaboration/WebContent/wsdl/GroupID.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://virtualcollaboration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://virtualcollaboration" xmlns:intf="http://virtualcollaboration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://virtualcollaboration" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getGroupID">
    <complexType>
     <sequence>
      <element name="userID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getGroupIDResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getGroupIDReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getGroupIDResponse">

      <wsdl:part element="impl:getGroupIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getGroupIDRequest">

      <wsdl:part element="impl:getGroupID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="GroupID">

      <wsdl:operation name="getGroupID">

         <wsdl:input message="impl:getGroupIDRequest" name="getGroupIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:getGroupIDResponse" name="getGroupIDResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="GroupIDSoapBinding" type="impl:GroupID">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getGroupID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getGroupIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getGroupIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="GroupIDService">

      <wsdl:port binding="impl:GroupIDSoapBinding" name="GroupID">

         <wsdlsoap:address location="http://localhost:8080/virtualCollaboration/services/GroupID"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
