virtualCollaboration/WebContent/wsdl/Task.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://virtualcollaboration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://virtualcollaboration" xmlns:intf="http://virtualcollaboration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://virtualcollaboration" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="seeTask">
    <complexType>
     <sequence>
      <element name="taskID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="seeTaskResponse">
    <complexType>
     <sequence>
      <element name="seeTaskReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delTask">
    <complexType>
     <sequence>
      <element name="taskID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="delTaskResponse">
    <complexType>
     <sequence>
      <element name="delTaskReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addTask">
    <complexType>
     <sequence>
      <element name="task" type="xsd:string"/>
      <element name="date" type="xsd:string"/>
      <element name="time" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addTaskResponse">
    <complexType>
     <sequence>
      <element name="addTaskReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="delTaskResponse">

      <wsdl:part element="impl:delTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delTaskRequest">

      <wsdl:part element="impl:delTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seeTaskRequest">

      <wsdl:part element="impl:seeTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seeTaskResponse">

      <wsdl:part element="impl:seeTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTaskRequest">

      <wsdl:part element="impl:addTask" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addTaskResponse">

      <wsdl:part element="impl:addTaskResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Task">

      <wsdl:operation name="seeTask">

         <wsdl:input message="impl:seeTaskRequest" name="seeTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:seeTaskResponse" name="seeTaskResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delTask">

         <wsdl:input message="impl:delTaskRequest" name="delTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:delTaskResponse" name="delTaskResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTask">

         <wsdl:input message="impl:addTaskRequest" name="addTaskRequest">

       </wsdl:input>

         <wsdl:output message="impl:addTaskResponse" name="addTaskResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TaskSoapBinding" type="impl:Task">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="seeTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="seeTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="seeTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addTask">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTaskRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addTaskResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TaskService">

      <wsdl:port binding="impl:TaskSoapBinding" name="Task">

         <wsdlsoap:address location="http://localhost:8080/virtualCollaboration/services/Task"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
