InterfaceVC/WebContent/wsdl/Announcement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://virtualcollaboration" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://virtualcollaboration" xmlns:intf="http://virtualcollaboration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://virtualcollaboration" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="seeAnnID">
    <complexType>
     <sequence>
      <element name="groupID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="seeAnnIDResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="seeAnnIDReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="delAnnouncementt">
    <complexType>
     <sequence>
      <element name="announceID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="delAnnouncementtResponse">
    <complexType>
     <sequence>
      <element name="delAnnouncementtReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAnnouncementt">
    <complexType>
     <sequence>
      <element name="Announcement" type="xsd:string"/>
      <element name="groupID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="addAnnouncementtResponse">
    <complexType>
     <sequence>
      <element name="addAnnouncementtReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="seeAnnouncements">
    <complexType>
     <sequence>
      <element name="groupID" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="seeAnnouncementsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="seeAnnouncementsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="delAnnouncementtRequest">

      <wsdl:part element="impl:delAnnouncementt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAnnouncementtResponse">

      <wsdl:part element="impl:addAnnouncementtResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seeAnnouncementsRequest">

      <wsdl:part element="impl:seeAnnouncements" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seeAnnIDRequest">

      <wsdl:part element="impl:seeAnnID" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="delAnnouncementtResponse">

      <wsdl:part element="impl:delAnnouncementtResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seeAnnIDResponse">

      <wsdl:part element="impl:seeAnnIDResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="seeAnnouncementsResponse">

      <wsdl:part element="impl:seeAnnouncementsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addAnnouncementtRequest">

      <wsdl:part element="impl:addAnnouncementt" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Announcement">

      <wsdl:operation name="seeAnnID">

         <wsdl:input message="impl:seeAnnIDRequest" name="seeAnnIDRequest">

       </wsdl:input>

         <wsdl:output message="impl:seeAnnIDResponse" name="seeAnnIDResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delAnnouncementt">

         <wsdl:input message="impl:delAnnouncementtRequest" name="delAnnouncementtRequest">

       </wsdl:input>

         <wsdl:output message="impl:delAnnouncementtResponse" name="delAnnouncementtResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAnnouncementt">

         <wsdl:input message="impl:addAnnouncementtRequest" name="addAnnouncementtRequest">

       </wsdl:input>

         <wsdl:output message="impl:addAnnouncementtResponse" name="addAnnouncementtResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="seeAnnouncements">

         <wsdl:input message="impl:seeAnnouncementsRequest" name="seeAnnouncementsRequest">

       </wsdl:input>

         <wsdl:output message="impl:seeAnnouncementsResponse" name="seeAnnouncementsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AnnouncementSoapBinding" type="impl:Announcement">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="seeAnnID">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="seeAnnIDRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="seeAnnIDResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="delAnnouncementt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="delAnnouncementtRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="delAnnouncementtResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addAnnouncementt">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAnnouncementtRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addAnnouncementtResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="seeAnnouncements">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="seeAnnouncementsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="seeAnnouncementsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AnnouncementService">

      <wsdl:port binding="impl:AnnouncementSoapBinding" name="Announcement">

         <wsdlsoap:address location="http://localhost:8080/virtualCollaboration/services/Announcement"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
